body {
   
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto; font-size: 12px;
}

/* margin pading */
.p-xxs {
  padding: 5px;
}
.p-xs {
  padding: 10px;
}
.p-sm {
  padding: 15px;
}
.p-m {
  padding: 20px;
}
.p-md {
  padding: 25px;
}
.p-lg {
  padding: 30px;
}
.p-xl {
  padding: 40px;
}
.m-xxs {
  margin: 2px 4px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 40px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-md {
  margin-left: -20px;
}
.m-l-n-lg {
  margin-left: -30px;
}
.m-l-n-xl {
  margin-left: -40px;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 1px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n {
  margin-top: -15px;
}
.m-t-n-md {
  margin-top: -20px;
}
.m-t-n-lg {
  margin-top: -30px;
}
.m-t-n-xl {
  margin-top: -40px;
}
.m-r-none {
  margin-right: 0;
}
.m-r-xxs {
  margin-right: 1px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r {
  margin-right: 15px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 40px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-md {
  margin-right: -20px;
}
.m-r-n-lg {
  margin-right: -30px;
}
.m-r-n-xl {
  margin-right: -40px;
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-md {
  margin-bottom: -20px;
}
.m-b-n-lg {
  margin-bottom: -30px;
}
.m-b-n-xl {
  margin-bottom: -40px;
}
.space-15 {
  margin: 15px 0;
}
.space-20 {
  margin: 20px 0;
}
.space-25 {
  margin: 25px 0;
}
.space-30 {
  margin: 30px 0;
}

.box { border-top: 1px solid #d2d6de }

.box-header-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    padding: 0;
    position: relative;
}
.box-header-tools a {
    color: #333;
    cursor: pointer;
    margin-left: 5px;
    padding: 2px 5px; font-size: 14px;
}
.box-header-content {
  background-color: #fff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #ddd;
  border-image: none;
 
  border-width: 1px 0px;
}
.box-header-title h5 {
    display: inline-block;
    float: left;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
}
.box-header-title h3 , .sbox-title h5{  float: left; display:none !important; }
.box-header-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    padding: 0;
    position: relative;
}


.user-panel > .image > img { border: solid 3px #000; }
.user-menu img{ border: solid 1px #000; }
.sidebar-menu > li.header { background: none !important; color: #929292 }
.sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion
{
  font-size: 14px;
}
.sidebar-menu .treeview-menu > li > a > .fa, .sidebar-menu .treeview-menu > li > a > .glyphicon, .sidebar-menu .treeview-menu > li > a > .ion
{
  font-size: 14px;  
}
.sidebar-menu > li > a span{ padding: 3px 0; }
.dropdown-menu > li > a { font-size: 12px; }
/* TABS */
.nav-tabs > li > a { border-radius : 0 !important; -moz-border-radius: 0 !important; color: #333; }
.nav-tabs > li.active > a { background: #f9f9f9; }
.mdl .nav-tabs > li > a { background: #f9f9f9 }
.mdl .nav-tabs > li.active > a { background: #e9e9e9 }

.btn-default { background-color: #fff !important; }
/* select */
.select-alt { float:left; padding:5px 2px; border:solid 1px #ddd; margin-right:5px; }

.ribon-sximo { margin:20px 0; background: #fafafa;}
.ribon-sximo a{ color: #333;}
.ribon-sximo .ribon-module { background:#fafafa;  color: #dd4b39 ; height: 110px;}
.ribon-sximo .ribon-setting { background: #fafafa; color: #00c0ef ; height: 110px;}
.ribon-sximo .ribon-menu { background: #fafafa; color: #f39c12 ; height: 110px;}
.ribon-sximo .ribon-install { background:#fafafa; color: #00a65a ; height: 110px;}
.ribon-sximo .ribon-white { background: #fafafa; color: #333; height: 110px;}
.ribon-sximo .ribon-white a { color: #333 !important; }
/* dashboard */
.shortcut { border:solid 1px #eee; border-top:solid 1px #ddd; }
.shortcut i{ font-size:50px;  } 
.shortcut span.h3{ font-weight:400 !important; font-size:16px; display: block; }
.shortcut span.h3 {  }
.content-wrapper, .right-side { background: #f9f9f9 }


.content-wrapper, .right-side { background: #f9f9f9 }
/*Validation*/
.parsley-error-list {
  margin-top: 4px;
  padding: 0;
}
.parsley-error-list li {
  padding: 0;
  list-style: none;
  color: #cc0000;
}
.parsley-error {
  border-color: #c00 !important;
}
/* clear div */
.clr { clear:both;}

/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
.prettyprint {
  background: white;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
}

.sidebar-menu .treeview-menu > li > a { font-size: 12px; }

.ajaxLoading , .pageLoading { background:#fff url(../images/loading.gif) no-repeat center center; display:none; height:200px; position:absolute; width:100%; opacity: 0.5; left:0; top:0; height: 100%; z-index:9999;}


/*Nestable lists*/
.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }
.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }
.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }
.dd-handle { cursor:default;display: block; margin: 5px 0; padding: 7px 10px; color: #333; text-decoration: none; border: 1px solid #ddd;
background: #fff;
}

.dd-handle:hover { color: #FFF; background: #4D90FD; border-color:#428BCA; }

.dd-item > button { color:#555;font-family: FontAwesome;display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 8px 2px; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 10px; line-height: 1; text-align: center; }
.dd-item > button:before {  display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { }
.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #FFF; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
-webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
-moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
background-size: 60px 60px;
background-position: 0 0, 30px 30px;
}
.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
-webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

.dd3-content { 
display: block; 
margin: 5px 0; 
padding: 2px 10px 2px 40px; color: #333; text-decoration: none;
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #DDDDDD;
color: #333333;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,e9e9ce+100;Wax+3D+%232 */
background: #fcfff4; /* Old browsers */
background: -moz-linear-gradient(top, #fcfff4 0%, #e9e9ce 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fcfff4 0%,#e9e9ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
}
.dd3-content:hover { background: #fff; }
.dd-dragel > .dd3-item > .dd3-content { margin: 0; }
.dd3-item > button { margin-left: 35px; }
.dd3-handle { position: absolute; 
margin: 0; left: 0; top: 0; 
cursor: all-scroll; 
width: 34px; 
text-indent: 100%; 
white-space: nowrap; 
overflow: hidden;
border: 1px solid #3276B1;
background: #428BCA;
height:26px;
box-shadow:1px 1px 0 rgba(255, 255, 255, 0.2) inset;
}
.dd3-handle:before { content: '='; display: block; position: absolute; left: 0; top: 2px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 12px; font-weight: normal; }
.dd3-handle:hover { background: #4E9DFF; } 

.select2-container .select2-choice { height: 34px; line-height: 34px; }

.btn , .label { border-radius: 0px; -moz-border-radius: 0px;  } .

.note-editor { border: solid 1px #eee }
.note-editor .note-toolbar { border-bottom: none !important; }
.note-editor .note-editable { height:500px; }
.note-editor .note-codable { background-color: #fafafa; color: #333; }

.form-control { font-size: 12px; height: 30px }
legend { font-size: 14px; font-weight: 600; padding: 10px 0; } 


.infobox {
    border-left: 3px solid #EEEEEE;
    margin: 0 0 35px;
    padding: 20px;
}
.infobox h5 {
    margin-bottom: 6px;
    margin-top: 0;
}
.infobox p:last-child {
    margin-bottom: 0; font-size: 11px !important;
}
.infobox code {
    background-color: #FFFFFF;
    border-radius: 3px;
}
.infobox-default {
    background-color: #F5F5F5;
    border-color: #DDDDDD;
}
.infobox-default h5 {
    color: #555555;
}
.infobox-danger {
    background-color: #FDF7F7;
    border-color: #D65C4F;
}
.infobox-danger h5 {
    color: #D65C4F;
}
.infobox-warning {
    background-color: #FCF8F2;
    border-color: #E7804F;
}
.infobox-warning h5 {
    color: #E7804F;
}
.infobox-info {
    background-color: #F2F7F9;
    border-color: #1992C2;
}
.infobox-info h5 {
    color: #1992C2;
}
.infobox-success {
    background-color: #F4FAF5;
    border-color: #239169;
}
.infobox-success h5 {
    color: #239169;
}

.popover { border-radius: 0 !important; -moz-border-radius: 0 !important;  }
.popover-title  { border-radius: 0 !important; -moz-border-radius: 0 !important; font-weight: 600 !important; background: #222d32; color: #fff; }
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle
{
  border-radius: 0 !important;
}
.dropdown-menu , .box { border-radius: 0 !important; -moz-border-radius: 0 !important; }

.skin-black .sidebar-form .form-control {
  background-color: #222d32 ;
  color: #fff; border-color: #222d32;
}

.skin-blue .sidebar-form .form-control {
  background-color: #222d32 ;
  color: #fff; border-color: #222d32;
}
.skin-purple .sidebar-form .form-control {
  background-color: #222d32 ;
  color: #fff; border-color: #222d32;
}

.skin-yellow .sidebar-form .form-control {
  background-color: #222d32 ;
  color: #fff; border-color: #222d32;
}

.skin-red .sidebar-form .form-control {
  background-color: #222d32 ;
  color: #fff; border-color: #222d32;
}
.skin-green .sidebar-form .form-control {
  background-color: #222d32 ;
  color: #fff; border-color: #222d32;
}

.nav-tabs  li.active {
   /* border-bottom: none !important; */
}

pre { border-radius: 0; moz-border-radius: 0;}
/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #2f3640;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
}

.pln {
  color: #e6e9ed;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #656d78;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #2f3640;
  list-style-type: decimal;
}

@media screen {

  /* string content */

  .str {
    color: #ffce54;
  }

  /* keyword */

  .kwd {
    color: #4fc1e9;
  }

  /* comment */

  .com {
    color: #656d78;
  }

  /* type name */

  .typ {
    color: #4fc1e9;
  }

  /* literal value */

  .lit {
    color: #ac92ec;
  }

  /* punctuation */

  .pun {
    color: #e6e9ed;
  }

  /* lisp open bracket */

  .opn {
    color: #e6e9ed;
  }

  /* lisp close bracket */

  .clo {
    color: #e6e9ed;
  }

  /* markup tag name */

  .tag {
    color: #ed5565;
  }

  /* markup attribute name */

  .atn {
    color: #a0d468;
  }

  /* markup attribute value */

  .atv {
    color: #ffce54;
  }

  /* declaration */

  .dec {
    color: #ac92ec;
  }

  /* variable name */

  .var {
    color: #e6e9ed;
  }

  /* function name */

  .fun {
    color: #e6e9ed;
  }
}

.expandable  i , .collapseable i { font-size: 18px;  color: #00a65a;}
ul.uploadedLists { margin:0; padding:0; list-style: none;   } 
ul.uploadedLists li { padding: 5px 0; border-bottom: dashed 1px #ddd }

/* DATATABLES  */

.table > thead > tr > th { border-bottom-width : 1px; border-bottom:1px solid #ddd }
div.dt-buttons { float: right; }


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, 
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
  border-top: solid 1px #ddd;
}
.table > thead > tr > th { border-bottom: 1px solid #aaa; }

th.tbl-sorting { 
    background-image: url("../images/sort_both.png") !important; 
    background-position: right center !important; 
    background-repeat: no-repeat !important; 
    cursor: pointer;
}
th.tbl-sorting.sort-asc {  background-image: url("../images/sort_asc.png") !important; }
th.tbl-sorting.sort-desc { background-image: url("../images/sort_desc.png") !important;  }


.table-striped > tbody > tr:nth-of-type(2n+1) td.tbl-sorting-active  { background: #f1f1f1 !important; }
.table-striped > tbody > tr td.tbl-sorting-active {  background: #fafafa !important; }
.table-striped > thead > tr th.chbox-col , .table-striped > tbody > tr th.chbox-col { width: 20px !important;  } 
.table-striped > thead > tr th.action-col , .table-striped > tbody > tr th.action-col { width: 20px !important;  } 

.table th  { text-align: none !important;  }
.table th.right { text-align:right !important;}
.table th.center { text-align:center !important;}
